{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="pb-4">
      <div
        class="selectingCouncilors d-flex flex-wrap justify-content-center gap-3 box"
      >
      {% for candidate in candidates %}
      {% if user.course == "IT" %}
      {% if candidate.position_id == 4 or candidate.position_id == 6 %}
        <!-- candidate 1 -->
        <section class="selected-candidate-card px-4 py-2" data-candidate="1">
          <p class="m-0 txt-green voted-text hidden" style="font-weight: bold">
            VOTED
            <span
              class="check rounded-pill bg-white px-1 txt-green"
              style="font-weight: bold"
              >✓</span
            >
          </p>
          <img
            src="{% if candidate.Candidate_Img %}{{candidate.Candidate_Img.url}}{% else %}"{% static '../static/imgs/user.png' %}"{% endif %}"
            class="mt-1"
            alt=""
          />
          <p
            class="candidate-name pt-2 txt-green m-0"
            style="font-weight: bold"
          >
          {{candidate.name}}
          </p>
          <p class="m-0" style="color: rgb(72, 93, 72); font-size: 14px">
            <i>{{candidate.partylist}}</i>
          </p>
          <input type="radio" name="councilor" class="radio-btn" value="{{candidate.id}}" style="height:35px; width:35px; vertical-align: middle;">
        </section>

        {% endif %}
        {% endif %}
        {% endfor %}

        </section>
      </div>
    </section>
  </body>
</html>
