.card {
  width: 12rem;
  text-align: center;
  border-radius: 0px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: none;
  font-weight: bold;
  background: none;
  color: #fff;
  transition: all 0.5s ease;
}
.card:hover {
  color: rgb(179, 213, 197);
}

.cands-modal {
  position: absolute;
  left: 5%;
  top: 20%;
  background: rgb(55, 77, 67);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 90%;
  min-height: 70%;
  display: block;
  z-index: 500;
}
.cands-modal .cands-close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: none;
  background: #fff;
  border-radius: 100px;
  padding: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  font-weight: 600;
}
.hidden {
  display: none;
}
.box {
  width: 50%;
  margin: auto;
}

.max-width {
  max-width: 90%;
}
.border-radius {
  border-radius: 25px;
  width: 30rem;
  /* height: 4.2rem; */
  max-width: 90%;
}
.info-box {
  color: rgb(230, 244, 237);
  line-height: 1;
  font-weight: bold;
}
.plist {
  opacity: 0.5;
}
.position,
.cand-name {
  text-transform: uppercase;
}
.cand-name {
  /* letter-spacing: 2px; */
  font-weight: bold;
}
.user-img {
  width: 7.5rem;
  height: 7.5rem;
  border: #d5e9e0 10px double;
  object-fit: cover;
}
.position {
  font-size: 1rem;
  font-weight: bold;
}
.votes {
  padding-right: 1.8rem;
  padding-top: 1rem;
}
::placeholder {
  color: rgba(232, 232, 232, 0.8);
}

ul li input {
  text-transform: capitalize;
}

.input {
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.inputp{
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  text-transform: none;
}

.font-des {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

form input::placeholder {
  color: rgba(53, 75, 67, 0.8);
  font-weight: bold;
}

#message {
  color: rgb(223, 110, 110);
}

a,
li {
  font-weight: bold;
}