
.dash-box {
  background: rgb(182, 204, 195);
  color: rgb(74, 93, 85);
  line-height: 1;
  font-weight: bold;
}
.dash-plist {
  opacity: 0.8;
}

.dash-cand-name {
  text-transform: uppercase;
}
.dash-cand-name {
  /* letter-spacing: 2px; */
  font-weight: bold;
}
.user-imgs {
  width: 5.5rem;
  height: 5.5rem;
  /* margin-left: -0.5rem; */
  border: #d5e9e0 10px double;
  object-fit: cover;
}

.dash-votes {
  padding-right: 1.8rem;
  padding-top: 1rem;
  font-weight: bold;
}