{% extends 'admin/base_admin.html' %} {% block content %} {% load static %}
<main class="my-4">
  <div class="container">
    <h1 class="anim-to-bottom text-center txt-green mb-4 display-4" style="font-weight: bold">
      ADMIN DASHBOARD
    </h1>

    <!-- adding partylist -->
    <form
      id="form"
      class="anim-to-bottom txt-green text-uppercase px-5 d-flex align-items-center justify-content-center"
      style="font-weight: bold; cursor: pointer"
    >
      <button type="submit" style="border: none; background: transparent">
        <img
          src="{% static '../static/imgs/plus.png' %}"
          style="width: 30px; margin-bottom: 1rem; border: none; outline: none"
        />
      </button>
      <input
        id="partylist-input"
        type="text"
        placeholder="ADD PARTYLIST NAME🖊️"
        style="
          background: transparent;
          width: 225px;
          font-size: 18px;
          outline: none;
          border: none;
          font-weight: bold;
          text-transform: uppercase;
          color: rgb(58, 87, 72);
        "
      />
    </form>
  
    <p class="text-center" id="message"></p>
    <form method="POST" class="" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{form1.management_form}}
      {{form2.management_form}}
      <div
      id="uploaded-partylist"
      class="d-flex flex-wrap justify-content-center gap-2 box"
    >
    
  </div>
  <br>
  </form>
<div class="anim-to-top">

  {% include 'admin/admin_party_lists.html' %}
</div>

        <script>
          let openModal = (e) => {
            e.parentElement.nextElementSibling.classList.remove("hidden");
          };
          let closeModal = (e) => {
            e.parentElement.classList.add("hidden");
          };
        </script>
      </div>
    </div>
  </div>
</main>
<script src="{% static '/js/admindash.js' %}"></script>

{% endblock %}
