{% extends 'base_voter.html' %} {% block content %} {% load static %}

<div class="container">
  <main>
    <div class="row">
      <div class="col-12 d-md-flex align-items-center">
        <h1 class="display-5 txt-green" id="myprofile-heading">My Profile</h1>

        <span class="hidden rounded-pill" id="successful">
          Successfully saved
          <span id="check" class="rounded-pill">✓</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img
          src="{% if userprf %}{% if userprf.User_Img %}        
          {{ userprf.User_Img.url }}      
          {% endif %}{% else %}{% static '../static/imgs/jisoo.jpg' %}{% endif %}"
          alt="User photo"
          style="
            width: 10rem;
            height: 10rem;
            border: #555 10px double;
            object-fit: cover;
          "
          class="rounded-circle"
        />
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <form autocomplete="off"
          class="text-start px-5 d-flex flex-column justify-content-between align-items-center mb-4"
          id="user-profile-form" method="POST" enctype="multipart/form-data"
        >
        {% csrf_token %}
        <div class="col-12 d-flex justify-content-center align-items-center mt-3">
          <label
            for="profilephoto"
            style="
              background: rgb(211, 213, 212);
              color: #555;
              padding: 0.5rem 1rem;
              cursor: pointer;
            "
            class="rounded"
            >Choose your profile photo</label
          ><br />
          <input
            type="file"
            class="user-photo-inp"
            name="User_Img"
            id="profilephoto"
            value=""
            accept="image/*"
            required
          />
        </div>

        <!-- sigup btn -> profilesetup -> logo - mainvtr ... -> myprofile -->

          <div class="user-name text-center">
            <input
              type="text"
              name="name"
              id="username"
              value="{{userprf.name}}"
              placeholder="Jane D. Doe"
              class="text-center"
              required
              style="margin-bottom: 0rem;"
            /><br>
            <label for="userid" style="margin-bottom: 1rem;"></label>Name</label>
          </div>
          <div class="user-id text-center mt-3">
            <input
              type="text"
              name="stud_id"
              id="userid"
              value="{{userprf.stud_id}}"
              class="text-center"
              placeholder="               e.g. 2020-10001         🖊️"
              required
                         style="margin-bottom: 0rem;"

            /><br />
            <label for="userid" style="margin-bottom: 1rem;"></label>Student ID</label>
          </div>
          <div class="user-info text-center mt-3">
            <input
              type="text"
              name="course_year_and_section"
              id="userinfo"
              value="{{userprf.course_year_and_section}}"
              class="text-center"
              placeholder="                e.g. BSIT - 3A          🖊️"
              required
              style="margin-bottom: 0rem;"
            /><br />
            <label for="userinfo" style="margin-bottom: 1rem;">Course, Year, and Section</label>
          </div>
          <div class="user-email text-center">
            <input
            style="margin-bottom: 0rem;"
              type="email"
              name="useremail"
              id="useremail"
              value="{{user.email}}"
              class="text-center"
              readonly
            /><br />
            <label for="useremail" style="margin-bottom: 2rem;">WMSU Email</label>
          </div>

          <button type="submit" class="text-light" style="border: none; background: none;">
          <div
          
          id="btn-profile-save"
          class="btn bg-greenn text-decoration-none px-5 py-2 mt-3 rounded-pill"
          style="font-weight: 700"
          >
              SAVE
            </div>
          </button>  

            <!-- <input type="submit" id="btn-profile-save"
            class="btn bg-greenn text-decoration-none px-5 py-2 mt-3 rounded-pill"
            style="font-weight: 700" value="SAVE"> -->
        </form>
      </div>
    </div>
  </main>
</div>

<script src="{% static 'js/prfsetup.js' %}"></script>
{% endblock %}
